@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');

:root {
  --black: #181818;
  --grey: #727272;
  --white: white;
  --teal: #3ab3b3;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color:  inherit;
  text-decoration: none;
}

#root, .home, .app {
  width: 100%;
  height: 100%;
}

.home {
  background-color: var(--black);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home button {
  height: 25vh;
  width: 40vw;
  font-size: 8vw;
  border-radius: 20px;
  border: 0px;

  background-color: var(--grey);
  color: var(--white);
  font-family: 'Averia Serif Libre', cursive;

  border: 5px solid var(--white);
}

.home button:hover {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--teal);
}

.home button:active {
  color: var(--grey);
  background-color: var(--black);
}
