@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --black: #181818;
  --grey: #727272;
  --white: white;
  --teal: #3ab3b3;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a {
  color:  inherit;
  text-decoration: none;
}

#root, .home, .app {
  width: 100%;
  height: 100%;
}

.home {
  background-color: var(--black);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.home button {
  height: 25vh;
  width: 40vw;
  font-size: 8vw;
  border-radius: 20px;
  border: 0px;

  background-color: var(--grey);
  color: var(--white);
  font-family: 'Averia Serif Libre', cursive;

  border: 5px solid var(--white);
}

.home button:hover {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--teal);
}

.home button:active {
  color: var(--grey);
  background-color: var(--black);
}

.header {
  height: 15vh;
  width: 100%;

  display: flex;
  align-items: flex-end;

  padding-left: 10px;
  padding-bottom: 10px;

  font-size: 4rem;
  font-family: 'Averia Serif Libre', cursive;
  color: var(--white);
  background-color: var(--black);
}

.product-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.store-product {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.store-product img {
  width: inherit;
  grid-column: span 3;
}

.store-product__name {
  grid-column: span 3;
  margin-top: 10px;
}

.store-product button {
  height: 20px;
  width: 50px;
}

.store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 800px;
}

.checkout-preview {
  height: inherit;
}

.checkout-preview__item-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
}

.checkout-preview img {
  height: 50%;
}

.checkout-preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-preview h2 {
  text-align: center;
}
